doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="format-detection" content="telephone=no")
        style.
            table {
                border: 1px solid black;
                border-collapse: collapse;
            }

            table th, table td {
                border: 1px solid black;
            }
    body
        table
            - //r: rows of table, columns
            - const rows=r;//JSON.parse(r);
            - const cols=columns;//JSON.parse(columns); // 출력으로 지정한 컬럼만 보여줌.
            - const jsonRows=JSON.stringify(rows).replace(/\\/g,"\\\\").replace(/'/g,"\\'");
            - const jsonCols=JSON.stringify(cols).replace(/\\/g,"\\\\").replace(/'/g,"\\'");
            tr
                th
                for colName in cols
                    th=colName                    
            each row, idx in rows
                tr
                    td
                        button.del(i=idx disabled) 삭제
                    for colName in cols
                        td.cell(i=idx f=colName) #{row[colName]}
            tr
                td
                    button.add(disabled) 추가하기
                for colName in cols
                    td.cell(name=colName)
                        input.add(type='text' name=colName disabled)
        script.
            const r=JSON.parse('!{jsonRows}');
            const fields=JSON.parse('!{jsonCols}');
        script(src="front.js")
        include views/excel.html
        include views/google-auth.html
